@font-face {
    font-family: 'Monts-Light';
    src: url(../assets/fonts/Montserrat-Light.woff2) format("woff2") ,
    url(../assets/fonts/Montserrat-Light.woff) format("woff");
}

@font-face {
    font-family: 'Monts-Medium';
    src: url(../assets/fonts/Montserrat-Medium.woff2) format("woff2") ,
    url(../assets/fonts/Montserrat-Medium.woff) format("woff");
}

@font-face {
    font-family: 'Monts-Regular';
    src: url(../assets/fonts/Montserrat-Regular.woff2) format("woff2") ,
    url(../assets/fonts/Montserrat-Regular.woff) format("woff");
}

@font-face {
    font-family: 'Monts-Bold';
    src: url(../assets/fonts/Montserrat-SemiBold.woff2) format("woff2") ,
    url(../assets/fonts/Montserrat-SemiBold.woff) format("woff");
}