// $background-color: #3e4444;
// $background-color: #282136;
$background-color: #9D7E85;
// $form-color: #FE2852;
$form-color: #282136;
$list-color: #FE2852;
$text-color: #F9F3F5;
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;