@font-face {
  font-family: 'Monts-Light';
  src: url(../assets/fonts/Montserrat-Light.woff2) format("woff2"), url(../assets/fonts/Montserrat-Light.woff) format("woff");
}

@font-face {
  font-family: 'Monts-Medium';
  src: url(../assets/fonts/Montserrat-Medium.woff2) format("woff2"), url(../assets/fonts/Montserrat-Medium.woff) format("woff");
}

@font-face {
  font-family: 'Monts-Regular';
  src: url(../assets/fonts/Montserrat-Regular.woff2) format("woff2"), url(../assets/fonts/Montserrat-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Monts-Bold';
  src: url(../assets/fonts/Montserrat-SemiBold.woff2) format("woff2"), url(../assets/fonts/Montserrat-SemiBold.woff) format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-image: url(../assets/images/sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo {
  padding-top: 3rem;
  background-color: #282136;
  opacity: 80%;
  width: 50rem;
  height: 40rem;
  margin: 8rem 8rem;
}

.todo__title {
  font-family: 'Monts-Medium';
  padding-bottom: 2rem;
  margin: 0;
  color: #F9F3F5;
  text-align: center;
  opacity: 100%;
}

.todo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__form-label {
  font-family: 'Monts-Medium';
  text-align: center;
  margin: 1.5rem 0;
  color: #F9F3F5;
}

.todo__form-input {
  margin: 0 2rem 1rem;
  width: 20rem;
  height: 2rem;
  background-color: #282136;
  border: none;
  border-bottom: 2px solid white;
  color: #F9F3F5;
  font-family: 'Monts-Light';
  font-size: 1rem;
  outline: none;
}

.todo__form-post-button {
  background-color: #435CA3;
  font-family: 'Monts-Bold';
  border: none;
  color: #F9F3F5;
  padding: 1rem 0;
  width: 10rem;
  margin-top: 1rem;
}

.todo__form-post-button:hover {
  opacity: 70%;
  background-color: white;
  color: black;
}

.todo__form-post-button:focus {
  outline: none;
}

.todo__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  width: 20rem;
  height: 60%;
  margin: 3rem auto 0;
}

.todo__list-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 0.2px dotted rgba(255, 255, 255, 0.3);
}

.todo__button-container {
  width: 6rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.todo__modify-button {
  border: none;
  width: 2rem;
  height: 100%;
  background-color: #282136;
  background-image: url("../assets/icons/edit.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: center;
  background-position-y: center;
  outline: none;
}

.todo__delete-button {
  border: none;
  width: 2rem;
  height: 100%;
  background-color: #282136;
  background-image: url("../assets/icons/trash.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: center;
  background-position-y: center;
  outline: none;
}

.todo__item {
  font-family: 'Monts-Light';
  color: #F9F3F5;
  padding: 1rem 0;
}

.todo__checkbox {
  position: relative;
  top: 1rem;
}
/*# sourceMappingURL=styles.css.map */